[submodule "lib/brzo_i2c"]
	path = lib/brzo_i2c
	url = https://github.com/piersfinlayson/brzo_i2c
[submodule "external/libesphttpd"]
	path = external/libesphttpd
	url = https://github.com/piersfinlayson/libesphttpd
[submodule "external/esptool2"]
	path = external/esptool2
	url = https://github.com/raburton/esptool2
[submodule "external/i2c-tools"]
	path = external/i2c-tools
	url = https://github.com/piersfinlayson/i2c-tools
[submodule "external/nweb"]
	path = external/nweb
	url = https://github.com/piersfinlayson/nweb
[submodule "lib/libmbus"]
	path = lib/libmbus
	url = https://github.com/piersfinlayson/libmbus
[submodule "lib/esp8266-software-uart"]
	path = lib/esp8266-software-uart
	url = https://github.com/piersfinlayson/esp8266-software-uart
[submodule "lib/libb64"]
	path = lib/libb64
	url = https://github.com/piersfinlayson/libb64
[submodule "extras/libmbus"]
	path = extras/libmbus
	url = https://github.com/piersfinlayson/libmbus
[submodule "extras/mbus_tools"]
	path = extras/mbus_tools
	url = https://github.com/piersfinlayson/libmbus
